annotated-types==0.6.0
anyio==4.2.0
bcrypt==4.1.2
call-function-with-timeout==1.1.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.5.0
ecdsa==0.18.0
exceptiongroup==1.2.0
fastapi==0.95.2
h11==0.14.0
httptools==0.6.1
idna==3.6
passlib==1.7.4
pyasn1==0.5.1
pydantic==1.10.14
pydantic-settings==2.1.0
pydantic_core==2.14.6
pymongo==4.6.1
pyTelegramBotAPI==4.15.3
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.6
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.25
starlette==0.27.0
telebot==0.0.5
thread-with-results==1.0.1
transliterate==1.10.2
typing_extensions==4.9.0
urllib3==2.1.0
uvicorn==0.27.0
uvloop==0.19.0
watchfiles==0.21.0
websocket-client==1.7.0
websockets==12.0
